.booking-container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 2.5rem;
    border-radius: 20px;
    background-color: white;
}

label {
    margin-left: 3rem;
}

.btn {
    padding: 0.5rem 2rem;
    margin: 2rem 1rem;

}