/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    top: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url("../assets/images/bg-img.png");
    background-size: contain;
}